.book-container {
  background-color: var(--site-background-color);
  cursor: pointer;
  padding: 1em;
  box-shadow: var(--light-shadow);
  border-radius: var(--border-radius);
  margin: 0 auto 1em auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4ch;
  transition: box-shadow var(--transition-time);
  text-align: left;

  text-decoration: none;
}

.book-container:hover {
  box-shadow: var(--medium-shadow);
  transition: box-shadow var(--transition-time);
}

.book-container .book-image {
  height: 6rem;
  width: 4rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--border-radius);
  box-shadow: var(--light-shadow);
}

.book-container h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5em;
}

.book-container p {
  color: var(--site-color-tertiary);
}

.book-container {
  position: relative;
}

ul.book-actions {
  list-style-type: none;
  position: absolute;
  right: 1em;
  top: 1em;
  text-align: right;
  display: none;
  line-height: 1.5;
}

.book-container:hover ul.book-actions {
  display: block;
}

ul.book-actions button {
  background-color: transparent;
  color: grey;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
}

ul.book-actions button:hover {
  border-bottom: 1px solid grey;
}