@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Playfair+Display:wght@600&display=swap");
@import './meyer-reset.css';

:root {
  --site-color-primary: #744253;
  --site-color-secondary: #173d3e;
  --site-color-tertiary: #a799b7;
  --site-background-color: #f9f7f3;

  --border-radius: 5px;
  --transition-time: 100ms;

  --shadow-color: 235deg 20% 60%;
  --light-shadow: 0px 0.5px 0.6px hsl(var(--shadow-color) / 0.34),
    0px 0.8px 0.9px -1.2px hsl(var(--shadow-color) / 0.34),
    0px 2px 2.3px -2.5px hsl(var(--shadow-color) / 0.34);
  --medium-shadow: 0px 0.5px 0.6px hsl(var(--shadow-color) / 0.36),
    0px 1.6px 1.8px -0.8px hsl(var(--shadow-color) / 0.36),
    0.1px 4.1px 4.6px -1.7px hsl(var(--shadow-color) / 0.36),
    0.1px 10px 11.3px -2.5px hsl(var(--shadow-color) / 0.36);

    box-sizing: border-box;
}

body {
  background-color: white;
  min-height: 100vh;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

h1,
h2 {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  color: var(--site-color-primary);
  margin-bottom: 1em;
}

h3,
h4,
h5,
h6 {
  color: var(--site-color-secondary);
}

h1 { font-size: 2.5rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: .75rem; }

button {
  cursor: pointer;
  
  font-weight: 100;
  color: white;
  font-size: 1rem;

  border-radius: var(--border-radius);
  border: none;
  background-color: var(--site-color-secondary);
  
  padding: 1em 2em;
  margin: auto;

  box-shadow: var(--light-shadow);
  transition: box-shadow var(--transition-time);
}

button:hover {
  box-shadow: var(--medium-shadow);
  transition: box-shadow var(--transition-time);
}

#wrapper {
  max-width: 700px;
  margin: 0 auto 4em auto;
}

/* Modal */

#add-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  padding: 0;
}
